@model aspprojet.Models.client

@{
    ViewBag.Title = "addclient";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <head>
        <meta charset="UTF-8">
        <title>Inscription</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="~/themelog/css/style.css">

    </head>
    <body>
        <!-- partial:index.partial.html -->

        <head>
            <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
            <meta charset="utf-8">
            <link rel="stylesheet" type="text/css" href="main.css">
            <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap" rel="stylesheet">
        </head>

        <body>
            <div class="main">
                <div class="container a-container" id="a-container" style="margin-left:-10px">
                    <form class="form" id="a-form" method="" action="">

                        <div class="form-horizontal">

                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <table>
                                <tr>
                                    <h2 class="form_title title" style="margin-top:00px;margin-left:47px">Ajouter client</h2>

                                </tr>
                                <tr>
                                    <td>
                                        <div class="form-group">
                                            @Html.TextBoxFor(model => model.nom, htmlAttributes: new { @class = "form__input", @type = "text", @placeholder = "Nom" })
                                            <div class="col-md-10">
                                                @Html.ValidationMessageFor(model => model.nom, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group mar">
                                            @Html.TextBoxFor(model => model.prenom, htmlAttributes: new { @class = "form__input", @type = "text", @placeholder = "Prenom" })
                                            <div class="col-md-10">
                                                @Html.ValidationMessageFor(model => model.prenom, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="form-group">
                                            @Html.TextBoxFor(model => model.age, htmlAttributes: new { @class = "form__input", @type = "text", @placeholder = "Age" })
                                            <div class="col-md-10">
                                                @Html.ValidationMessageFor(model => model.age, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group mar">
                                            @Html.TextBoxFor(model => model.email, htmlAttributes: new { @class = "form__input", @type = "text", @placeholder = "Email" })
                                            <div class="col-md-10">
                                                @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="form-group">
                                            @Html.TextBoxFor(model => model.telephone, htmlAttributes: new { @class = "form__input", @type = "text", @placeholder = "Telephone" })
                                            <div class="col-md-10">

                                                @Html.ValidationMessageFor(model => model.telephone, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group mar">
                                            @Html.TextBoxFor(model => model.password, htmlAttributes: new { @class = "form__input", @type = "password", @placeholder = "Password" })
                                            <div class="col-md-10">

                                                @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="form-group">
                                            @Html.TextBoxFor(model => model.adresse, htmlAttributes: new { @class = "form__input", @type = "text", @placeholder = "Adresse" })
                                            <div class="col-md-10">

                                                @Html.ValidationMessageFor(model => model.adresse, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group mar">
                                            @Html.TextBoxFor(model => model.cin, htmlAttributes: new { @class = "form__input", @type = "text", @placeholder = "CIN" })
                                            <div class="col-md-10">
                                                @Html.ValidationMessageFor(model => model.cin, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </td>
                                </tr>

                                <tr>
                                    <td></td>
                                    <td>
                                        <br />
                                        <div class="form-group mar1" style="font-size:18px">
                                            @Html.RadioButtonFor(model => model.sexe, value: "Femme")<strong>Femme</strong>

                                            @Html.RadioButtonFor(model => model.sexe, value: "Homme", htmlAttributes: new { @class = "mar2" }) <strong>Homme</strong>
                                            <div class="col-md-10">
                                                @Html.ValidationMessageFor(model => model.sexe, "", new { @class = "text-danger" })
                                            </div>


                                        </div>
                                    </td>
                                </tr>


                            </table>
                            <script src="~/themelog/js/javascript.js"></script>
                            <div>
                                <div class="form-group" style="margin-left:110px">
                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="submit" value="Ajouter" class="form__button button submit" /><br />
                                        @ViewBag.error
                                    </div>
                                </div>
                            </div>

                        </div>
                    </form>
                </div>

        </body>

    </body>
}
<div style="margin-left:100px">
    <div class="switch" id="switch-cnt">
        <div class="switch__circle"></div>
        <div class="switch__circle switch__circle--t"></div>
        <div class="switch__container" id="switch-c1">
            <h2 class="switch__title title"></h2>
            <p class="switch__description description">Vous pouvez ajouter un nouveau propriétaire.</p>
            <button class="switch__button button switch-btn"><a href="~/Admin/addprop">Ajouter propriétaire</a></button>
        </div>
    </div>
</div>
